section#projects.projects
  .container
    h2 My projects
    .cards-container
        .project_card
            .card_img
                img(src='./images/messenger.png' alt='screenshot')
            h3 Messenger
            p TypeScript, SCSS, Pug, Webpack, Express, Docker, Mocha, Chai
            .card_links
                a(href='https://github.com/yugld/middle.messenger.praktikum.yandex' target='_blank' rel='noopener noreferrer') GitHub →
                a(href='https://meek-taiyaki-afa351.netlify.app/' target='_blank' rel='noopener noreferrer') Live Site →
        .project_card
            .card_img
                img(src='./images/messenger.png' alt='screenshot')
            h3 Card Game
            p React, Redux, TypeScript, Less, Docker
            .card_links
                a(href='https://github.com/yugld/middle.messenger.praktikum.yandex' target='_blank' rel='noopener noreferrer') GitHub →
                a(href='https://meek-taiyaki-afa351.netlify.app/' target='_blank' rel='noopener noreferrer') Live Site →
        .project_card
            .card_img
                img(src='./images/messenger.png' alt='screenshot')
            h3 Porfolio
            p Vanila JS, Pug, Webpack
            .card_links
                a(href='https://github.com/yugld/portfolio' target='_blank' rel='noopener noreferrer') GitHub →
                a(href='https://main--nimble-snickerdoodle-514102.netlify.app/' target='_blank' rel='noopener noreferrer') Live Site →
