section.skills {
  padding: 80px 0;
  .cards-container {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 20px;
  }
  .skills_card {
    border: 1px solid $border_light;
    border-radius: 4px;
    padding: 20px;

    &:hover {
      box-shadow: 0px 2px 16px $text-color__secondary;
    }
  }
}

@media screen and (max-width: 1023.9px){
  section.skills{
    .cards-container{
        justify-content: center;
    }
  }
}
