section.about {
  padding: 80px 80px;
  margin: 0 auto;
  .container {
    .about__header {
      @include flex(column, center, center);
      gap: 20px;

      p {
        font-size: 20px;
        color: $text-color__secondary;
      }
      button {
        cursor: pointer;
      }
      .about__btns {
        @include flex(row, start, center);
        gap: 10px;
      }
      .btn_cv {
        border: none;
        background-color: $text-color__primary;
        color: $color__primary;
        padding: 15px 30px;
        border-radius: 5px;
        &:hover {
          background-color: $color__hover;
      }
      }
      .btn_contact {
        border: 1px solid $text-color__primary;
        background-color:$color__primary;
        border-radius: 5px;
        padding: 15px 30px;
        &:hover {
          border: 1px solid $color__hover;
          color: $color__hover;
      }
      }
    }
  }
}
