section.about#about
    .container
        .about__header
            h1 Hey there! I`m Yulia :)
            p I'm a novice frontend developer. And I love building web apps that are accessible and user-friendly
            p Currently, I`m looking for new role as a frontend feveloper.
            .about__btns
                a.link_download(href='./resume.pdf' target='_blank' download)
                    button.btn_cv Resume
                a(href='#contact')
                    button.btn_contact Contact
