header.header
    .container
        nav.nav
            a.logo(href='#')
                | Yulia Gladysheva
            .menu__wrapper
                ul.menu
                    li.menu_item.active
                        a(href='#about') About
                    li.menu_item
                        a(href='#skills') Skills
                    li.menu_item
                        a(href='#projects') Projects
                    li.menu_item
                        a(href='#contact') Contact
                    li.menu_item
                        a(href='./resume.pdf' target='_blank' download) Download resume
            .hamburger
                span
                span
                span
