header.header
    .container
        nav.nav
            a.logo(href='#')
                | Yulia Gladysheva
            .menu__wrapper
                ul.menu
                    li.menu_item.active
                        a(href='#') About
                    li.menu_item
                        a(href='#') Portfolio
                    li.menu_item
                        a(href='#') Contacts
                    li.menu_item
                        a(href='#') Resume
            .hamburger
                span
                span
                span
