@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixin';


body {
  color: $text-color__primary;
  font-family: Inter, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &.hidden {
    overflow: hidden;
  }
}

h2 {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 70px;
}


a {
  color: $text-color__primary;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  border-bottom: 1px solid $border_light;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px $color__hover;
  border-radius: 5px;
}


@import '../components/components';
