@import 'reset';
@import 'fonts';
@import 'variables';

.main {
  display: flex;
  background: $color__primary;
  color: $text-color__primary;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
